@model IEnumerable<ptoject2.Models.Photo>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlbumId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PhotoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PhotoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PhotoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
