@model IEnumerable<ptoject2.Models.Photo>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Photo<!--@Html.DisplayNameFor(model => model.ImagePath)change to image-->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.AlbumId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <div style="background-image:url(~/images/@item.ImageName)"><img src="~/images/@item.ImageName" class="gallery-image" alt="@item.ImageName" /></div><!--change to disply image-->
                <div>@Html.DisplayFor(modelItem => item.Image)</div>
                <div class="button">
                    <a asp-action="ShareImage" asp-route-id="@item.SharedWith" >Share</a>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.AlbumId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PhotoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PhotoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PhotoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
